html{height:100%}

body{
	color:#fff;
	font-family:Arial;
	background:url("../images/we-got-this!2--.jpg") no-repeat bottom right #000;
	text-align:left;
}

#sequencer #wrapper{


}

#sequencer{
	padding:50px 100px;
	width:80%;

	margin:0 auto;
}

#sequencer .track{
	border:1px solid red;
	height:60px;
	background-color:#941b1b;
}