<!DOCTYPE html>

<html ng-app="sequencer">
	<body>
		<head>
			<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Ovo" rel="stylesheet" type="text/css">
			<link href="css/sequencer.css" rel="stylesheet" type="text/css">
			
		</head>
CANVAS
		<div id="canvas-wrapper" style=" width: 90%; height: 300px; margin: 0; clear: both; float: left;">
	    		<canvas id="canvas" ></canvas>
	    		/CANVAS
	    </div>
		<div class="container">
			
			<!-- <h1>
				Sequencer <span class="loading">sounds loading</span>
			</h1> -->

	    	<div ng-controller="Sequencer" id="sequencer">
	    		<div class="row"> 

	    		<!-- GRID -->
	    		<section ng-controller="Grid" id="grid">
		      		<ul style="width:100%; padding:0; margin:0;">

			      		<li ng-repeat="layer in layerObject" add="{{$index}}" style="width:100%;  border-bottom: 1px solid #999; padding:0; position:relative; list-style:none; height:40px;">
			      			
			      			<div ng-repeat="time in layerObject[$index]" time-id="{{time}}" class="trigger" remove="{{$index}}" style="position:absolute; left:{{time * 100}}%; height:80%; width:4px; background-color:#0088cc; margin-top:10px;" ng-click="removeTrigger();">{{time * 100}}
			      				
			      			</div>
			      		</li>
			      	</ul>
	    		</section>
	    		<!-- END GRID -->

		    	<div class="row"> 

		    		<!-- TRANSPORT -->
					<form ng-controller="Transport" id="transport" class="form-inline span3">
						<fieldset>
							<label>tempo:</label> 
						
							<input class="small" id="tempo" ng-model="tempo" ng-change="updateTempo();" type="number" />
						</fieldset>
						
						<fieldset>
							<label>measures:</label> 
							<input id="mesaures" ng-change="updateMeasureLength();" ng-model="measures" class="small" type="number" value="1">
						</fieldset>

						<label>Play:</label> 
						<input type="checkbox" play="playing" />
					</form>
					<!-- END TRANSPORT -->

					<form id="router" class="form-inline span3">
						<div>
							<label class="checkbox">
								<input type="checkbox" id="reverb" value="reverb" />
								reverb
							</label>
						</div>
						<div>
							<label class="checkbox">
								<input type="checkbox" id="lowpass" value="lowPass" />
								 low pass filter
							</label>
						</div>
					</form>

					<!-- KAOS PAD -->
					<div id="chaos-wrapper" class="span6">

						<form id="chaos-settings" class="form-inline">
							<div>
								<label class="checkbox">
									<input id="chaos-freq" type="checkbox" value="frequency"></checkbox> 
									osc frequencies ( x is square, y is sin )
								</label>
							</div>
							<div>
								<label class="checkbox">
									<input id="chaos-lowpass" type="checkbox" value="lowpass"></checkbox> 
									lowpass ( x is lowpass frequency, y is lowpass lfo rate )
								</label>
							</div>
						</form>

						<div id="chaos-pad">

						</div> 
						
					</div>
					<!-- END KAOS PAD -->
				</div>
			</div>

		</div>

		<!-- frameworks -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="js/libs/angular.js"></script>
		<!-- SHOULD NOT USE LODASH -->
		 <!-- <script src="js/libs/lodash.js"></script> -->

		<!-- helper js/default json -->
		<script src="js/helpers/audio-context.js"></script>
		<script src="js/helpers/buffer-loader.js"></script>
		<!--<script src="js/spectrum.js"></script>-->
		<!--<script src="js/sequence/sequence.js"></script>
		<script src="js/sequence/sequence1.js"></script>-->

		<script src="js/sequence/new-sequence.js"></script>

		<!-- audio api js/kick off for angular -->
		<!-- <script src="js/audio.js"></script> -->

		<script src="js/asset-handling/sample.js"></script>
		<script src="js/asset-handling/osc.js"></script>
		<script src="js/asset-handling/canvas.js"></script>
		<script src="js/scheduler.js"></script>

		<!-- angular stuff, handles the backing models for the sequence arrays -->
		<script src="js/sequencer.js"></script>
		
		<script src="js/service.js"></script>

		<script src="js/modules/transport.js"></script>
		<script src="js/modules/grid.js"></script>
		
	</body>
</html>
