$blue: #00B7FF;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $blue;
}

sequencer {
	border: 2px solid $blue;
	display: block;
	margin: 0 auto;
	width: 80%;
}

layer {
	padding: 30px;
	border-bottom: 2px solid $blue;

	&:last-child {
		border-bottom: none;
	}
}