$blue: #00B7FF;
$grey: #eee;
$dark-blue: #0600FF;

html,
body {
	height: 100%;
	background: -webkit-radial-gradient(top, rgba(45,178,211,1) 0%,rgba(167,255,220,1) 100%); 
	// background: -webkit-linear-gradient(top, rgba(45,178,211,1) 0%,rgba(167,255,220,1) 100%);
	background: #000;
}

body, 
a {
	color: $dark-blue;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

sequencer {
	border-bottom: 1px solid $grey;
	// border-top: 1px solid $grey;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 80%;
}

layer {
	padding: 30px;
	position: relative;
	border-bottom: 1px solid $grey;

	&:last-child {
		border-bottom: none;
	}
}

trigger {
	background: -webkit-linear-gradient(top, rgba(255,178,211,1) 0%,rgba(167,255,220,1) 100%);
	border: 1px solid #fff; 
	height:101%; 
	position:absolute;
	top: 0;
	width:5px; 
}